.card-item-wrap {
    position: relative;
    display: block;
    /* display: flex; */
    /* flex-direction: column; */
    padding: 0 15px;
    /* width: 31%; */
    height: 100%;
    width: 100%;
}

.card-item-wrap a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.item-image {
    position: relative;
    display: block;
    width: 100%;
    height: 600px;
}

.item-image img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 70%;
}

.add-icon {
    position: absolute;
    display: block;
    bottom: 20px;
    right: 20px;
    text-align: center;
    border-radius: 300px !important;
    padding: 10px 15px !important;
    background-color: #FFFFFF !important;
    color: var(--theme-color) !important;
    font-weight: bold !important;
    letter-spacing: 1px;
    font-size: 20px !important;
}

.add-icon svg {
    fill: var(--theme-color);
    transform: scale(2);
}

.item-content {
    position: relative;
    display: flex !important;
    margin-top: 30px;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.item-content>* {
    padding: 0;
    margin: 0;
}

.item-content h3 a {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.item-content p {
    font-size: 14px;
    font-weight: 500;
}

.item-content h6 {
    position: relative;
    display: block;
    margin-top: auto;
    font-size: 14px;
    font-weight: bold;
}

@media(max-width:550px){
    .item-image{
        height:200px
    }

    .item-content{
        width: 200px;
    }
}